.benefits {
    background-color: var(--clients-background-color);
    color: var(--clients-text-color);
    padding: 130px 0 130px 0;
}

.benefits__container {
    margin: auto;
    max-width: 1200px;
    padding: 0 15px 0 15px;
}

.benefits__title {
    color: var(--clients-title-color);
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.benefits__subtitle {
    font-size: 38px;
    font-family: (--main-titles-font);
    color: var(--clients-big-title-color);
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

.benefits__text {
    color: var(--clients-text-color);
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    font-family: var(--main-text-font);
    margin-top: 20px;
    margin-bottom: 60px;
}


.components__items h3 {
    font-size: 22px;
    font-family: var(--main-titles-font);
    color: var(--clients-big-title-color);
    font-weight: 700;
    margin-top: 5px;
}

.components__items p {
    color: var(--clients-text-color);
    font-size: 17px;
    font-family: var(--main-text-font);
    font-weight: 300;
    margin-top: 10px;
}

.item_img_wrapper {
    width: 50px;
    height: 50px;
    background-color: var(--light-gray-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.components__items img {
    width: 26px;
    display: block;
    margin: auto;
}

.components__items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;

}

.components__items {
    display: grid;
    grid-template-columns: 20% 80%;


}

.item__couple {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

@media (max-width: 992px) {
    .components__items-container {
        grid-template-columns: 1fr;
    }

    .components__items {
        display: grid;
        grid-template-columns: 10% 80%;
        justify-content: end;
    }

}

@media (max-width: 600px) {
    .benefits__title {
        font-size: 15px;
    }

    .benefits__subtitle {
        font-size: 24px;
    }

    .benefits__text,
    .components__items h3,
    .components__items p {
        font-size: 16px;
    }

    .item_img_wrapper {
        margin-left: -25px;
    }

}