.clients {
    padding-top: 100px;
    padding-bottom: 90px;
    background-color: var(--clients-background-color);
}

.clients__main-title {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--clients-title-color);
    font-weight: 400;
    line-height: 1;
    letter-spacing: calc(0.1*1em);
    margin-top: 50px;
}

.clients__big-title {
    text-align: center;
    font-family: Rajdhani, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: calc(0.15*1em);
    color: var(--clients-big-title-color);
    line-height: 1.2;
    text-transform: uppercase;
    vertical-align: baseline;
}

.clients__text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: var(--clients-title-color);
    line-height: 1;
    line-height: 1;
    letter-spacing: calc(0*1em)
}



.google-icon {
    display: inline-block;
    overflow: hidden;
}
.google-icon {
    transition: 1s;
    display: block;
}
.google-icon:hover {
    transform: scale(1.2);
}


.dji-icon {
    display: inline-block;
    overflow: hidden;
}
.dji-icon {
    transition: 1s;
    display: block;
}
.dji-icon:hover {
    transform: scale(1.2);
}


.areem-icon {
    display: inline-block;
    overflow: hidden;
}
.areem-icon {
    transition: 1s;
    display: block;
}
.areem-icon:hover {
    transform: scale(1.2);
}


.kik-icon {
    display: inline-block;
    overflow: hidden;
}
.kik-icon {
    transition: 1s;
    display: block;
}
.kik-icon:hover {
    transform: scale(1.2);
}


.airbnb-icon {
    display: inline-block;
    overflow: hidden;
}
.airbnb-icon {
    transition: 1s;
    display: block;
}
.airbnb-icon:hover {
    transform: scale(1.2);
}


.microsoft-icon {
    display: inline-block;
    overflow: hidden;
}
.microsoft-icon {
    transition: 1s;
    display: block;
}
.microsoft-icon:hover {
    transform: scale(1.2);
}


.mastercard-icon{
    display: inline-block;
    overflow: hidden;
}
.mastercard-icon{
    transition: 1s;
    display: block;
}
.mastercard-icon:hover {
    transform: scale(1.2);
}


.philips-icon{
    display: inline-block;
    overflow: hidden;
}
.philips-icon{
    transition: 1s;
    display: block;
}
.philips-icon:hover {
    transform: scale(1.2);
}


.slack-icon{
    display: inline-block;
    overflow: hidden;
}
.slack-icon{
    transition: 1s;
    display: block;
}
.slack-icon:hover {
    transform: scale(1.2);
}


.roku-icon{
    display: inline-block;
    overflow: hidden;
}
.roku-icon{
    transition: 1s;
    display: block;
}
.roku-icon:hover {
    transform: scale(1.2);
}

.walmart-icon{
    display: inline-block;
    overflow: hidden;
}
.walmart-icon{
    transition: 1s;
    display: block;
}
.walmart-icon:hover {
    transform: scale(1.2);
}


.viber-icon{
    display: inline-block;
    overflow: hidden;
}
.viber-icon{
    transition: 1s;
    display: block;
}
.viber-icon:hover {
    transform: scale(1.2);
}


.amazon-icon{
    display: inline-block;
    overflow: hidden;
}
.amazon-icon{
    transition: 1s;
    display: block;
}
.amazon-icon:hover {
    transform: scale(1.2);
}


.whatsapp-icon{
    display: inline-block;
    overflow: hidden;
}
.whatsapp-icon{
    transition: 1s;
    display: block;
}
.whatsapp-icon:hover {
    transform: scale(1.2);
}


@media(min-width: 320px) {

    .clients__logo-icon {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
}

@media(min-width: 780px) {

    .clients__logo-icon {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }
}


@media(min-width: 990px) {

    .clients__logo-icon {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
    }
}

@media(min-width: 1200px) {

    .clients__logo-icon {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
    }
}