.header-contact {
    background-color: var(--contacts-backround-color-title);
    text-align: center;
    padding: 3em 0;
}

.header-contact__title-text {
    font-family: var(--main-titles-font);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: aliceblue;
}

.contacts__form {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 50px 150px 50px 150px;
    min-width: 600px;

    background-color: var(--background-gray-color);
}

.contacts__form-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.contacts__form-left-info {
    margin-bottom: 10px;
}

.contacts__form-left-address {
    margin-bottom: 10px;
}

.contacts__form-left-address-label {
    font-weight: bold;
}

.contacts__form-left-phone {
    margin-bottom: 10px;
}

.contacts__form-left-number {
    margin-bottom: 10px;
}

.contacts__form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--contacts-backround-color-form);
    padding: 20px;
}

.contacts__form-right-input-item {
    margin-bottom: 10px;
}

.contacts__form-right-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: none;
}

.contacts__form-right-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: #333;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.map {
    text-align: center;
}

.map__item {
    width: 100%;
    margin-top: 20px;
}
