.contacts__container {
    min-width: 1200px;
}

.contacts__title {
    background-color: #98d2c3;
    text-align: center;
}

.contacts__title-text {
    text-transform: uppercase;
    font-family: --main-titles-font;
    color: azure;
}

.contacts__feedback {
    display: flex;
    justify-content: center;
}
