.header {
    position: relative;
}

.header::before {
    display: block;
    z-index: -1;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.6;
    left: 0;
    top: 0;
    background-color: var(--main-theme-color);
}

.background__img {
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
    object-fit: cover;
    object-position: center 25%;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 24px;
}

.header__logo {
    width: 145px;
}

.header__menu {
    display: none;
}

.header__social-media {
    display: none;
}

.header__burger-menu {
    background-image: url(/img/burger-menu.svg);
    width: 40px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    height: 40px;
    background-position: center;
}

.header__main-heading {
    padding: 130px 24px 110px;
    display: flex;
    gap: 40px;
    line-height: 1;
    flex-direction: column;
    align-items: center;
}

.header__hero {
    width: 100%;
    letter-spacing: 7px;
    text-align: center;
    word-wrap: break-word;
    text-transform: uppercase;
    font-family: var(--main-titles-font);
    font-size: 62px;
    color: var(--text-white-color);
}

.header__main-button {
    border-radius: 8px;
    font-size: 14px;
    display: inline-block;
    background-color: var(--primary-color-button);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-white-color);
    padding: 19px 34px;
    cursor: pointer;
    font-family: var(--main-titles-font);
    letter-spacing: 4px;
    transition: background 1s;
}

.header__main-button:hover {
    transition: background 1s;
    background-color: var(--contacts-background-color-title);
}

@media screen and (min-width: 751px) {
    .header__navigation {
        max-width: 1200px;
        padding: 30px 15px;
        margin: 0 auto;
    }

    .header__burger-menu {
        display: none;
    }

    .header__menu {
        display: flex;

    }

    .header__social-media {
        display: block;
    }

    .header__menu-item {
        color: var(--text-white-color);
        font-size: 12px;
        font-family: var(--main-text-font);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 600;
        padding: 10px 17px;
        box-sizing: content-box;
    }

    .header__menu-item:hover {
        border-bottom: 2px solid var(--text-white-color);
    }

    .header__main-heading {
        max-width: 790px;
        margin: 0 auto;
        padding: 250px 0 200px;
    }

    .header__hero {
        font-size: 110px;
        letter-spacing: 15px;
    }

    .header__menu,
    .header__social-media {
        list-style: none;
    }

    .header__social-media {
        display: flex;
        gap: 10px;
    }

    .header__social-item {
        border: 1px solid var(--text-white-color);
        width: 23px;
        height: 18px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 5px 3px;
        box-sizing: content-box;
    }