.industries {
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);
    font-family: var(--main-text-font);
    font-weight: 300;
}

.industries__hero-img {
    width: 100%;
}

.industries__content {
    padding: 100px 30px;
    box-sizing: border-box;
}

.industries__heading {
    font-size: 12px;
    text-transform: uppercase;
}

.industries__title {
    font-family: var(--main-titles-font);
    letter-spacing: 4px;
    font-size: 38px;
    color: var(--main-theme-color);
    line-height: 1.2;
    font-weight: 700;
    margin: 20px 0 0;
}

.industries__subtitle {
    display: block;
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
}

.industries__description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.industries__text {
    margin: 0;
    font-size: 17px;
    line-height: 1.6;
}

.industries__domains-list {
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 12px;
    font-size: 14px;
}

.industries__domain-item {
    display: flex;
    justify-content: center;
}

.industries__domain-item::before {
    content: '';
    display: block;
    width: 20px;
    height: 24px;
    background: url(/img/ok_icon.svg) no-repeat;
    background-size: contain;
    margin-right: 8px;
}

.industries__targets-list {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 12px;
}

.industries__target-item {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.industries__target-item::before {
    content: '';
    display: block;
    width: 20px;
    height: 24px;
    background: url(/img/targets.svg);
    margin-right: 8px;
}

.industries__button {
    margin-top: 50px;
    border-radius: 8px;
    font-size: 17px;
    display: inline-block;
    background-color: #98d2c3;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding: 19px 48px;
    cursor: pointer;
    font-family: var(--main-titles-font);
    letter-spacing: 4px;
}