.process {
    background-image:url(../img/man_by_the_wall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    padding: 100px 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.process__title {
    font-family: var(--main-text-font);
    font-size: 12px ;
    font-weight: 400;
    line-height: 12px;
    color: var(--main-theme-color);

}

.process__subtitle {
    font-size: 38px;
    line-height: 45.6px;
    font-family: var(--main-titles-font);
    font-style: normal;
    font-weight: 700;
    color: var(--main-theme-color);
    padding-top: 20px;

}

.process__text {
    font-size: 18px;
    line-height: 25.2px;
    font-family: var(--main-text-font);
    font-style: normal;
    font-weight: 400;
    color: var(--main-text-color);
    padding-top: 20px;
    max-width: 381px;

}

.steps__title {
    font-size: 22px;
    line-height: 35.2px;
    font-family: var(--main-titles-font);
    font-style: normal;
    font-weight: 700;
    padding-top: 20px;

}

.steps__regular_step {
    list-style-type: disc;
    font-size: 14px;
    line-height: 22.4px;
    font-family: var(--main-text-font);
    font-style: normal;
    font-weight: 400;
    color: var(--main-text-color);
    padding-left: 18px;
    max-width: 400px;
}

.steps {
    list-style-type: none;
}

.process__correct {
    width: 500px;
    height: 200px;
}

@media(max-width:500px) {
    .process__correct{
        width: 10px;
    }
}

.clock_block {
    font-size: 24px;
    margin-top: 20px;
    flex-basis: 100%;
    display: block;
    text-align: center;
  }