@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&family=Ubuntu:wght@300;400&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
}
:root {
    scroll-behavior: smooth;
}