.questions {
    padding: 150px 30px 100px 20px;
}
.questions h4 {
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: var(--text-color);
}
.questions h2 {
    font-family: Rajdhani, sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-top: 20px;
}
.questions h3 {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 25px;
}
.questions p {
    font-family: Ubuntu, sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: var(--text-color);
    margin-top: 25px;
}
.first-part span {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    color: var(--text-color);
    margin-left: 6px;
}
.questions ul {
    margin-top: 20px;
    list-style-type: none;
}
.questions li {
    margin-top: 15px;
} 
.mark {
    width: 19px;
}