.quote-carousel {
    background-color: #f7f8f9;
}

.quote-carousel__slide {
    font-family: var(--main-titles-font);
    font-weight: 700;
    color: var(--main-theme-color);
    letter-spacing: 0.1;
    line-height: 1.4;
    size: 32px;
    text-align: center;
}

.quote-carousel__slide__img {
    width: 70px;
    height: auto;
    margin: auto;
}