.quote-carousel {
    background-color: #f7f8f9;
    font-family: var(--main-text-font);
    color: var(--main-text-color);
}

.quote-carousel__slide-img {
    width: 70px;
    height: auto;
    margin: auto;
}

.quote-carousel__slide-text {
    font-family: var(--main-titles-font);
    color: var(--main-theme-color);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2.4px;
    line-height: 33.6px;
    text-align: center;
}

.author {
    color: var(--main-theme-color);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 12px;
    text-align: center;
}

.author__position {
    color: var(--main-text-color);
    font-weight: 400;
}