<section class="benefits">
    <h2 class="benefits__title">Benefits</h2>
    <p class="benefits__subtitle">WHY CHOOSE US</p>
    <p class="benefits__text">Learn more about the benefits you get when working with us.</p>
    <div class="benefits__components components">
        <div class="components__item-container">
            <article class="components__item">
                <img width="100" src="img/benefits/skilled-specialists-icon.svg" alt="Skilled specialists">
                <h3>SKILLED SPECIALISTS</h3>
                <p>Our team consists of experienced recruiters and HR managers. We are ready to take over all the
                    processes of searching, hiring, and managing personnel.
                    You take care of business tasks, and we provide reliable work.</p>
            </article>
            <article class="components__item">
                <img width="100" src="img/benefits/perfect-matches-icon.svg" alt="Perfect matches">
                <h3>PERFECT MATCHES</h3>
                <p>We know that one of the main components of the success of any business is people. We carefully select
                    employees and conduct all the necessary tests and interviews to be sure that they are "your" people.
                </p>
            </article>
            <article class="components__item">
                <img width="100" src="img/benefits/talent-retention-icon.svg" alt="Talent retention">
                <h3>TALENT RETENTION</h3>
                <p>It is important not only to hire the right and experienced employees but also to keep them in your
                    company.
                    Our HR managers make sure that your employees are satisfied with their work conditions.</p>
            </article>
            <article class="components__item">
                <img width="100" src="img/benefits/fair-pricing-icon.svg" alt="Fair pricing">
                <h3>FAIR PRICING</h3>
                <p>We offer a clear and simple payment model with no hidden fees. You pay only for the services you use:
                    candidate search, recruitment, personnel management, record keeping, payroll, etc.</p>
            </article>
            <article class="components__item">
                <img width="100" src="img/benefits/urgent-hire-icon.svg" alt="Urgent hire">
                <h3>URGENT HIRE</h3>
                <p>If you urgently need new employees of any profession and skill level, we can help you.
                    Thanks to well-established processes in our company, the average hiring period is 10 days from the
                    date of application.</p>
            </article>
            <article class="components__item">
                <img width="100" src="img/benefits/established-company-icon.svg" alt="Established company">
                <h3>ESTABLISHED COMPANY</h3>
                <p>Our work experience is more than 5 years. We offer remote HR management and recruitment services.
                    Delegate to us all the tasks related to personnel management, wherever you are.</p>
            </article>
        </div>
    </div>
</section>