<section class="benefits">
    <h2 class="benefits__title">Benefits</h2>
    <p class="benefits__subtitle">WHY CHOOSE US</p>
    <p class="benefits__text">Learn more about the benefits you get when working with us.</p>
    <div class="benefits__components components">
        <div class="components_block-container">
            <article class="components_block">
                <img width="100" src="img/benefits/skilled-specialists-icon.svg" alt="Benefit - skilled specialists">
                <h3>SKILLED SPECIALISTS</h3>
                <p>Our team consists of experienced recruiters and HR managers. We are ready to take over all the processes of searching, hiring, and managing personnel. 
                You take care of business tasks, and we provide reliable work.</p>


            </article>
        </div>
    </div>
</section>