<section id="clients" class="clients">
    <h2 class="clients__main-title">SOME OF OUR DEAREST CLIENTS</h2>
    <p class="clients__big-title">PARTNERS</p>
    <p class="clients__text">Here’s a short list of our recent clients and partners.</p>
    <div class="clients__logo-icon">
        <a class="clients__logo-icon__dji" href="https://www.dji.com/">
            <img width="100" src="img/clients/dji-icon.svg" alt="dji-icon">
        </a>
        <a class="clients__logo-icon__google" href="https://www.google.com/">
            <img width="100" src="img/clients/google-icon.svg" alt="google-icon">
        </a>
        <a class="clients__logo-icon__areem" href="https://www.areem.com">
            <img width="100" src="img/clients/areem-icon.svg" alt="areem-icon">
        </a>
        <a class="clients__logo-icon__kik" href="https://kik.com/">
            <img width="100" src="img/clients/kik-icon.svg" alt="kik-icon">
        </a>
        <a class="clients__logo-icon__airbnb" href="https://www.airbnb.com/">
            <img width="100" src="img/clients/airbnb-icon.svg" alt="airbnb-icon">
        </a>
        <a class="clients__logo-icon__microsoft" href="https://www.microsoft.com/">
            <img width="100" src="img/clients/microsoft-icon.svg" alt="microsoft-icon">
        </a>
        <a class="clients__logo-icon__mastercard" href="https://www.mastercard.com/">
            <img width="100" src="img/clients/mastercard-icon.svg" alt="mastercard-icon">
        </a>
        <a class="clients__logo-icon__philips" href="https://www.philips.com/global">
            <img width="100" src="img/clients/philips-icon.svg" alt="philips-icon">
        </a>
        <a class="clients__logo-icon__slack" href="https://slack.com/">
            <img width="100" src="img/clients/slack-icon.svg" alt="slack-icon">
        </a>
        <a class="clients__logo-icon__roku" href="https://www.roku.com/">
            <img width="100" src="img/clients/roku-icon.svg" alt="roku-icon">
        </a>
        <a class="clients__logo-icon__walmart" href="https://www.walmart.com/">
            <img width="100" src="img/clients/walmart-icon.svg" alt="walmart-icon">
        </a>
        <a class="clients__logo-icon__tinder" href="https://tinder.com/">
            <img width="100" src="img/clients/tinder-icon.svg" alt="tinder-icon">
        </a>
        <a class="clients__logo-icon__viber" href="https://www.viber.com/">
            <img width="100" src="img/clients/viber-icon.svg" alt="viber-icon">
        </a>
        <a class="clients__logo-icon__amazon" href="https://www.amazon.com/">
            <img width="100" src="img/clients/amazon-icon.svg" alt="amazon-icon">
        </a>
        <a class="clients__logo-icon__whatsapp" href="https://www.whatsapp.com/">
            <img width="100" src="img/clients/whatsapp-icon.svg" alt="whatsapp-icon">
        </a>
    </div>
</section>