<section id="clients" class="clients">
        <h2 class="clients__main-title">SOME OF OUR DEAREST CLIENTS</h2>
        <p class="clients__big-title">PARTNERS</p>
        <p class="clients__text">Here’s a short list of our recent clients and partners.</p>
    <div class="clients__logo-icon">
        <a class="clients__logo-icon__dji" href="https://www.dji.com/">
            <img class="dji-icon" width="100" id="dji" src="img/clients/nonactive/dji-icon.svg" alt="dji-icon">
        </a>
        <a class="clients__logo-icon__google" href="https://www.google.com/">
            <img class="google-icon" width="100" src="img/clients/nonactive/google-icon.svg" alt="google-icon">
        </a>
        <a class="clients__logo-icon__areem" href="https://www.areem.com">
            <img class="areem-icon" width="100" src="img/clients/nonactive/areem-icon.svg" alt="areem-icon">
        </a>
        <a class="clients__logo-icon__kik" href="https://kik.com/">
            <img class="kik-icon" width="100" src="img/clients/nonactive/kik-icon.svg" alt="kik-icon">
        </a>
        <a class="clients__logo-icon__airbnb" href="https://www.airbnb.com/">
            <img class="airbnb-icon" width="100" src="img/clients/nonactive/airbnb-icon.svg" alt="airbnb-icon">
        </a>
        <a class="clients__logo-icon__microsoft" href="https://www.microsoft.com/">
            <img class="microsoft-icon" width="100" src="img/clients/nonactive/microsoft-icon.svg" alt="microsoft-icon">
        </a>
        <a class="clients__logo-icon__mastercard" href="https://www.mastercard.com/">
            <img class="mastercard-icon" width="100" src="img/clients/nonactive/mastercard-icon.svg" alt="mastercard-icon">
        </a>
        <a class="clients__logo-icon__philips" href="https://www.philips.com/global">
            <img class="philips-icon" width="100" src="img/clients/nonactive/philips-icon.svg" alt="philips-icon">
        </a>
        <a class="clients__logo-icon__slack" href="https://slack.com/">
            <img class="slack-icon" width="100" src="img/clients/nonactive/slack-icon.svg" alt="slack-icon">
        </a>
        <a class="clients__logo-icon__roku" href="https://www.roku.com/">
            <img class="roku-icon" width="100" src="img/clients/nonactive/roku-icon.svg" alt="roku-icon">
        </a>
        <a class="clients__logo-icon__walmart" href="https://www.walmart.com/">
            <img class="walmart-icon" width="100" src="img/clients/nonactive/walmart-icon.svg" alt="walmart-icon">
        </a>
        <a class="clients__logo-icon__tinder" href="https://tinder.com/">
            <img class="tinder-icon" width="100" src="img/clients/nonactive/tinder-icon.svg" alt="tinder-icon">
        </a>
        <a class="clients__logo-icon__viber" href="https://www.viber.com/">
            <img class="viber-icon" width="100" src="img/clients/nonactive/viber-icon.svg" alt="viber-icon">
        </a>
        <a class="clients__logo-icon__amazon" href="https://www.amazon.com/">
            <img class="amazon-icon" width="100" src="img/clients/nonactive/amazon-icon nonactive.svg" alt="amazon-icon" id="amazon">
        </a>
        <a class="clients__logo-icon__whatsapp" href="https://www.whatsapp.com/">
            <img class="whatsapp-icon" width="100" src="img/clients/nonactive/whatsapp-icon.svg" alt="whatsapp-icon">
        </a>
    </div>
    <div class="container-button">
    <button class="accordion">MORE</button>
    </div>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu sem magna. Ut dui tortor, ultricies vel elit a, tristique sollicitudin lacus. Suspendisse nec consectetur enim. Etiam nisl augue, egestas pulvinar risus vitae, consequat gravida mauris. Vivamus laoreet vestibulum lacus, convallis bibendum risus fringilla quis. Aenean rhoncus tortor eget turpis mattis, iaculis malesuada lacus tempor. Cras vel leo sed ante accumsan gravida porttitor nec sapien. In consectetur nibh sed interdum congue. Fusce tincidunt libero eros, non vestibulum dolor porttitor eu. Cras molestie ipsum nec laoreet suscipit. Etiam sit amet quam ut elit imperdiet interdum in vitae ligula. Donec nec mi sapien.
  </p>
</div>
</section>