<section class="header-contact">
    <div class="header-contact__title">
    <h2><span class="header-contact__title-text">Contacts us</span></h2>
    </div>
</section>
<section class="contact">
    <div class="contact__wrapper">
        <div class="contact__info">
            <h3>INSIGHTS WE EXPLORE</h3>
            <p>GET IN TOUCH</p>
            <p>
                Feel free to contact us for any business, media, or
                personal inquiries:
            </p>
            <address class="contact__info-address">
                <span class="address">ADDRESS</span>
                130 Post Ave, Westbury, NY 11590, USA
            </address>
            <p class="contact__info-phone">phone</p>
            <a
                href="tel:+1 (234) 567 89 00"
                class="contact__info-numbers"
                >+1 (234) 567 89 00</a
            >
            <a


                href="tel:+1 (234) 567 89 01"
                class="contact__info-numbers"
                >+1 (234) 567 89 01</a
            >
        </div>
        <div class="contact__input">
            <div class="contact__input-wrapper">
                
                    <form class="contact__input-items">
                        <input class="input-item"
                            type="text"
                            name="name"
                            placeholder="Enter your full name*"
                        />
                        <input class="input-item"
                            type="tel"
                            name="tel"
                            placeholder="Enter your phone number*"
                        />
                        <input class="input-item"
                            type="email"
                            name="email"
                            placeholder="Enter your e-mail*"
                        />
                        <input class="input-item"
                            type="text"
                            name="text"
                            placeholder="Type your message"
                        />
            </div>
        </div>
    </div>
</section>
<section class="map">
    <iframe
    class="map__item"
    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d25068.34694862798!2d30.51562617014982!3d50.45010030158026!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1686070142822!5m2!1sru!2sua"
    width="600"
    height="450"
></iframe>
</section>