<header class="header">
    <img class="background__img" src="img/header-background.jpg" alt="background__img">
    <nav class="header__navigation">
        <a class="header__logo-link" href="index.html">
            <img src="img/logo.svg" alt="logo" class="header__logo">
        </a>
        <ul class="header__menu">
            <li>
                <a href="about.html" class="header__menu-item">About us</a>
            </li>
            <li><a href="index.html#services" class="header__menu-item">Services</a></li>
            <li>
                <a href="index.html#quote-carousel" class="header__menu-item">Testimonials</a>
            </li>
            <li>
                <a href="contacts.html" class="header__menu-item">Contact us</a>
            </li>
        </ul>
        <ul class="header__social-media">
            <li>
                <a href="https://www.facebook.com/">
                    <img src="img/facebook.svg" alt="logo" class="header__social-item"></a>
            </li>
            <li>
                <a href="https://www.instagram.com/">
                    <img src="img/instagram.svg" alt="logo" class="header__social-item"></a>
            </li>
            <li>
                <a href="https://www.youtube.com/">
                    <img src="img/youtube.svg" alt="logo" class="header__social-item"></a>
            </li>
        </ul>
        <div class="header__burger-menu js-burger-btn"></div>
    </nav>
    <nav class="mobile-menu js-mobile-menu">
        <div class="mobile-menu__content">
            <ul class="mobile-menu__list">
                <li>
                    <a href="about.html" class="mobile-menu__item">About us</a>
                </li>
                <li><a href="index.html#services" class="mobile-menu__item">Services</a></li>
                <li>
                    <a href="index.html#quote-carousel" class="mobile-menu__item">Testimonials</a>
                </li>
                <li>
                    <a href="contacts.html" class="mobile-menu__item">Contact us</a>
                </li>
            </ul>
            <ul class="mobile-menu__social__media">
                <li>
                    <a href="https://www.facebook.com/">
                        <img src="img/socMediaFacebook.svg" alt="logo" class="mobile-menu__social-item"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/">
                        <img src="img/socialMediaInstagram.svg" alt="logo" class="mobile-menu__social-item"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/">
                        <img src="img/socialMediaYoutube.svg" alt="logo" class="mobile-menu__social-item"></a>
                </li>
            </ul>

        </div>
        <div class="mobile-menu__close js-menu-close"></div>
    </nav>
    <div class="header__main-heading">
        <h1 class="header__hero">Your HR management agency</h1>
        <a href="about.html" class="header__main-button">Learn more</a>
    </div>
</header>