<header class="header">
    <div class="header__logo-container">
        <a href="index.html"
            ><img src="img/logo.svg" alt="logo" class="header__logo"
        /></a>
    </div>
    <nav>
        <ul class="header__menu">
            <li>
                <a href="/about.html" class="header__menu-item">About us</a>
            </li>
            <li><a href="#services" class="header__menu-item">Services</a></li>
            <li>
                <a href="#quote-carousel" class="header__menu-item"
                    >Testimonials</a
                >
            </li>
            <li>
                <a href="contacts.html" class="header__menu-item">Contact us</a>
            </li>
        </ul>
        <ul class="header__social-media">
            <li>
                <a href="https://www.facebook.com/"
                    ><span class="social-icon">&#xf082;</span></a
                >
            </li>
            <li>
                <a href="https://www.instagram.com/"
                    ><span class="social-icon">&#xf16d;</span></a
                >
            </li>
            <li>
                <a href="https://www.youtube.com/"
                    ><span class="social-icon">&#xf16a;</span></a
                >
            </li>
        </ul>
    </nav>
    <div class="header__main-heading">
        <h1>Your HR management agency</h1>
        <a href="/about.html" class="header__main-heading-button">Learn more</a>
    </div>
</header>
