<!-- Industries -->
<section class="industries">
    <img class="industries__hero-img" src="/img/industries_img.jpg" alt="industries">
    <div class="industries__content">
        <span class="industries__heading">TOP INDUSTRIES</span>
        <h2 class="industries__title">AREAS OF EXPERTISE</h2>
        <span class="industries__subtitle">
            We work with clients from a number of industries. Whatever you do, we can help you perform even better.
        </span>
        <div class="industries__description">
            <p class="industries__text">
                As a reliable and experienced HR management agency, we've worked with clients in various industries. We
                have had successful collaborations in the domains mentioned below:
            </p>
            <ul class="industries__domains-list">
                <li class="industries__domain-item">Healthcare</li>
                <li class="industries__domain-item">Internet of things</li>
                <li class="industries__domain-item">Online retail</li>
                <li class="industries__domain-item">Marketing</li>
                <li class="industries__domain-item">E-commerce</li>
                <li class="industries__domain-item">Travel & hospitality</li>
                <li class="industries__domain-item">Blockchain</li>
                <li class="industries__domain-item">FinTech</li>
                <li class="industries__domain-item">Automotive</li>
                <li class="industries__domain-item">AR & VR</li>
                <li class="industries__domain-item">Gaming & mobile apps</li>
            </ul>
            <p class="industries__text">
                We have branches, clients, and remote teams in different parts of the world. Our main targets are such
                regions as:
            </p>
            <ul class="industries__targets-list">
                <li class="industries__target-item">USA</li>
                <li class="industries__target-item">Canada</li>
                <li class="industries__target-item">EU</li>
                <li class="industries__target-item">Australia</li>
                <li class="industries__target-item">Japan</li>
            </ul>
            <p class="industries__text">
                Contact us to see what our HR managers can do for you.
            </p>
        </div>
        <div class="industries__button">learn more</div>
    </div>
    <!-- temporary styles (only for mobile)-->
    <style>
        .industries {
            display: flex;
            flex-direction: column;
            gap: 100px;
            color: #666666;
            font-family: 'Ubuntu', sans-serif;
        }

        .industries__hero-img {
            width: 100%;
        }

        .industries__content {
            padding: 0 30px;
            box-sizing: border-box;
        }

        .industries__heading {
            font-size: 12px;
            text-transform: uppercase;
        }

        .industries__title {
            font-size: 38px;
            color: #21243D;
            line-height: 1.2;
            font-weight: 600;
            margin: 20px 0 0;
        }

        .industries__subtitle {
            display: block;
            margin: 25px 0;
            font-size: 18px;
            line-height: 1.4;
            font-weight: 500;
        }

        .industries__description {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .industries__text {
            margin: 0;
            font-size: 17px;
            line-height: 1.6;
        }

        .industries__domains-list {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0;
            margin: 0;
            gap: 12px;
        }

        .industries__domain-item {
            display: flex;
            justify-content: center;
        }

        .industries__domain-item::before {
            content: '';
            display: block;
            width: 20px;
            height: 24px;
            background: url(/img/ok_icon.svg) no-repeat;
            background-size: contain;
            margin-right: 8px;
        }

        .industries__targets-list {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0;
            margin: 0;
            gap: 12px;
        }

        .industries__target-item {
            display: flex;
            justify-content: center;
            margin-right: 10px;
        }

        .industries__target-item::before {
            content: '';
            display: block;
            width: 20px;
            height: 24px;
            background: url(/img/targets.svg);
            margin-right: 8px;
        }

        .industries__button {
            margin: 50px 0 100px;
            border-radius: 8px;
            font-size: 17px;
            width: 200px;
            height: 56px;
            box-sizing: border-box;
            background-color: #98d2c3;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
            text-align: center;
        }
    </style>
</section>