<section class="percent__section">
    <ul class="percent__content">
        <li class="percent__content-info">
            <span class="percent__satistics">99%</span>
            <h2 class="percent__title">satisfaction rate</h2>
            <p class="percent__text">among our clients</p>
        </li>
        <li class="percent__content-info">
            <span class="percent__satistics">70+</span>
            <h2 class="percent__title">clients</h2>
            <p class="percent__text">per quarter</p>
        </li>
        <li class="percent__content-info">
            <span class="percent__satistics">5+</span>
            <h2 class="percent__title">years of work</h2>
            <p class="percent__text">in hr management</p>
        </li>
        <li class="percent__content-info">
            <span class="percent__satistics">900+</span>
            <h2 class="percent__title">hires</h2>
            <p class="percent__text">in 2021</p>
        </li>
    </ul>
</section>