<section class="procent">
    <div class="procent__content">
        <div class="procent__content-info">
            <span></span>
            <h2></h2>
            <p></p>
        </div>
        <div class="procent__content-info">
            <span></span>
            <h2></h2>
            <p></p>
        </div>
        <div class="procent__content-info">
            <span></span>
            <h2></h2>
            <p></p>
        </div>
        <div class="procent__content-info">
            <span></span>
            <h2></h2>
            <p></p>
        </div>
    </div>
</section>