<section id="process" class="process">
    <h2 class="process__title">PROCESS</h2>
    <p class="process__subtitle">HOW WE WORK</p>
    <p class="process__text">We offer a simple and understandable way to cooperate with our company. Just follow
        three simple steps described below.</p>
    <div class="process__cooperate_steps steps">
        <ol class="steps">
            <li class="steps_consultation">SIGN UP FOR A CONSULTATION</li>
            <ul>
                <li>
                    Tell our managers about your company and goals.
                </li>
                <li>
                    Discuss the tasks you want to delegate to us.
                </li>
            </ul>
            <li class="steps_customization">SERVICES CUSTOMIZATIONN</li>
            <ul>
                <li>
                    We tailor the service plan to your needs and assign a dedicated manager.
                </li>
                <li>
                    Signing an agreement & specifying the scope of work.
                </li>
            </ul>
            <li class="steps_work">BEGINNING OF WORK</li>
            <ul>
                <li>
                    We perform our duties promptly and efficiently.
                </li>
                <li>
                    You get your HR proccesses streamlined.
                </li>
            </ul>
        </ol>
        <img src="img/man_by_the_wall.jpg" alt="man by the wall">
    </div>
</section>