<section id="process" class="process">
    <div class="process__block">
      <h2 class="process__title">PROCESS</h2>
      <p class="process__subtitle">HOW WE WORK</p>
      <p class="process__text">
        We offer a simple and understandable way to cooperate with our company.
        Just follow three simple steps described below.
      </p>
      <div class="process__cooperate_steps steps">
        <ol class="steps">
          <li class="steps__title">01. SIGN UP FOR A CONSULTATION</li>
          <li>
            <ul class="steps__regular_step">
              <li class="steps__regular_line">Tell our managers about your company and goals.</li>
              <li class="steps__regular_line">Discuss the tasks you want to delegate to us.</li>
            </ul>
          </li>
          <li class="steps__title">02. SERVICES CUSTOMIZATION</li>
          <li>
            <ul class="steps__regular_step">
              <li class="steps__regular_line">
                We tailor the service plan to your needs and assign a dedicated
                manager.
              </li>
              <li class="steps__regular_line">Signing an agreement & specifying the scope of work.</li>
            </ul>
          </li>
          <li class="steps__title">03. BEGINNING OF WORK</li>
          <li>
            <ul class="steps__regular_step">
              <li class="steps__regular_line">We perform our duties promptly and efficiently.</li>
              <li class="steps__regular_line">You get your HR proccesses streamlined.</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <div class="process__correct"></div>
  
    <div class="clock_block">
      <div id="clock" class="clock_block__numbers"></div>
      <p>Current time</p>
    </div>
  </section>;
  