<section id="quote-carousel" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#quote-carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#quote-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#quote-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="carousel-item__img" src="img/quote-carousel/quotes.png" alt="quotes">
            <p class="carousel-item__text">“I AM GLAD THAT WE DECIDED TO TRANSFER ALL PROCESSES RELATED TO
                PERSONNEL
                MANAGEMENT AND RECRUITMENT TO HR
                PARTNER. THE PROFESSIONALS KNOW HOW TO FIND PERFECT IDEAL FOR OPEN POSITIONS AND MAKE EVERY EMPLOYEE IN
                OUR
                COMPANY FEEL SPECIAL.”</p>
            <p class="carousel-item__author author">
                <span class="author__name">JOHN PETERSON</span>
                <span class="author__position"> - CEO AT FRESH FOOD CO.</span>
            </p>
        </div>
        <div class="carousel-item">
            <img class="carousel-item__img" src="img/quote-carousel/quotes.png" alt="quotes">
            <p class="carousel-item__text">“THE HIGHEST PROFESSIONALISM, INDIVIDUAL APPROACH, AND AFFORDABLE
                PRICES —
                THIS IS ALL ABOUT HR PARTNER. WE
                ENTRUSTED THIS COMPANY WITH ALL RECRUITMENT PROCESSES AND WERE ABLE TO CONCENTRATE ON OUR BUSINESS
                OPERATIONS.”</p>
            <p class="carousel-item__author author">
                <span class="author__name">JANE WILLIAMS</span>
                <span class="author__position"> - MANAGING DIRECTOR AT WOLLAR S.T.</span>
            </p>
        </div>
        <div class="carousel-item">
            <img class="carousel-item__img" src="img/quote-carousel/quotes.png" alt="quotes">
            <p class="carousel-item__text">“ONE OF THE MOST PAINFUL PROBLEMS IN MY WORK HAS ALWAYS BEEN PERSONNEL
                MANAGEMENT. I SIMPLY DO NOT HAVE
                ENOUGH TIME TO HEAR THE WISHES OF THE EMPLOYEES. HR PARTNER HELPED ME STREAMLINE INTERNAL PROCESSES AND
                MAKE
                MY EMPLOYEES HAPPIER.”</p>
            <p class="carousel-item__author author">
                <span class="author__name">DEAN PHILLIPS</span>
                <span class="author__position">- CEO AT WORLD TRUCKS & CO.</span>
            </p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#quote-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#quote-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>