<section id="quote-carousel" class="quote-carousel">
    <div class="quote-carousel__slide">
        <img class="quote-carousel__slide__img" src="img/quote-carousel/quotes.png" alt="quotes">
        <p>“I AM GLAD THAT WE DECIDED TO TRANSFER ALL PROCESSES RELATED TO PERSONNEL MANAGEMENT AND RECRUITMENT TO HR
            PARTNER. THE PROFESSIONALS KNOW HOW TO FIND PERFECT IDEAL FOR OPEN POSITIONS AND MAKE EVERY EMPLOYEE IN OUR
            COMPANY FEEL SPECIAL.”</p>
        <p>JOHN PETERSON - CEO AT FRESH FOOD CO.</p>
    </div>
    <div class="quote-carousel__slide">
        <img class="quote-carousel__slide__img" src="img/quote-carousel/quotes.png" alt="quotes">
        <p>“THE HIGHEST PROFESSIONALISM, INDIVIDUAL APPROACH, AND AFFORDABLE PRICES — THIS IS ALL ABOUT HR PARTNER. WE
            ENTRUSTED THIS COMPANY WITH ALL RECRUITMENT PROCESSES AND WERE ABLE TO CONCENTRATE ON OUR BUSINESS
            OPERATIONS.”</p>
        <p>JANE WILLIAMS - MANAGING DIRECTOR AT WOLLAR S.T.</p>
    </div>
    <div class="quote-carousel__slide">
        <img class="quote-carousel__slide__img" src="img/quote-carousel/quotes.png" alt="quotes">
        <p>“ONE OF THE MOST PAINFUL PROBLEMS IN MY WORK HAS ALWAYS BEEN PERSONNEL MANAGEMENT. I SIMPLY DO NOT HAVE
            ENOUGH TIME TO HEAR THE WISHES OF THE EMPLOYEES. HR PARTNER HELPED ME STREAMLINE INTERNAL PROCESSES AND MAKE
            MY EMPLOYEES HAPPIER.”</p>
        <p>DEAN PHILLIPS - CEO AT WORLD TRUCKS & CO</p>
    </div>
</section>