<section id="services" class="services">
    <div class="services__container">
        <header class="services__header">
            <div class="services__titles">
                <h2 class="services__title">Services</h2>
                <p class="services__subtitle">Services We Provide</p>
                <p class="services__text">We create and manage your teams, freeing you from any worries.</p>
            </div>
        </header>
        <div class="services__carousel carousel">
            <article class="scarousel__track-container">
                <img src="img/services__consulting-logo.svg" alt="consulting logo">               
            </article>
        </div>
    </div>
</section>