<section id="services" class="services">
    <div class="services__container">
        <div class="services__header">
            <div class="services__titles">
                <h2 class="services__title">Services</h2>
                <p class="services__subtitle">Services We Provide</p>
                <p class="services__text">
                    We create and manage your teams, freeing you from any
                    worries.
                </p>
            </div>
        </div>
        <div class="services__carousel carousel">
            <article class="carousel__track-container">
                <img
                    class="carousel__img"
                    src="img/services/services__consulting-logo.svg"
                    alt="consulting logo"
                />
                <p class="carousel__title">consulting</p>
                <p class="carousel__text">
                    We provide consulting services for our clients. If you need
                    help in developing the HR strategy, internal corporate
                    policies, job descriptions, any company rules, and other
                    documents, you can contact us.
                </p>
                <ul class="carousel__list">
                    <li class="carousel__list-item">HR strategy.</li>
                    <li class="carousel__list-item">
                        Development of internal documents.
                    </li>
                    <li class="carousel__list-item">Staff assessment.</li>
                    <li class="carousel__list-item">Job descriptions.</li>
                </ul>
            </article>
            <article class="carousel__track-container">
                <img
                    class="carousel__img"
                    src="img/services/services__itoutstaffing-logo.svg"
                    alt="itoutstaffing logo"
                />
                <p class="carousel__title">IT outstaffing</p>
                <p class="carousel__text">
                    Scale up your team fast and get reliable remote developers
                    within a day. We cooperate with hundreds of developers of
                    different skill levels to offer our clients ready teams when
                    needed.
                </p>
                <ul class="carousel__list">
                    <li class="carousel__list-item">
                        Back-end & front-end developers.
                    </li>
                    <li class="carousel__list-item">QA specialists.</li>
                    <li class="carousel__list-item">Product managers.</li>
                    <li class="carousel__list-item">
                        Data scientists & business analysts.
                    </li>
                </ul>
            </article>
            <article class="carousel__track-container">
                <img
                    class="carousel__img"
                    src="img/services/services__hrmanagement-logo.svg"
                    alt="hrmanagement logo"
                />
                <p class="carousel__title">HR management</p>
                <p class="carousel__text">
                    We handle all staff-related processes. Just focus on your
                    business instead of dealing with bureaucracy. We make sure
                    that your employees are satisfied and perform their duties
                    without any blockers.
                </p>
                <ul class="carousel__list">
                    <li class="carousel__list-item">
                        Signing and storing contracts.
                    </li>
                    <li class="carousel__list-item">
                        Resolving current issues with employees.
                    </li>
                    <li class="carousel__list-item">
                        Holding tests and reviews.
                    </li>
                    <li class="carousel__list-item">Performance management.</li>
                </ul>
            </article>
            <article class="carousel__track-container">
                <img
                    class="carousel__img"
                    src="img/services/services__recruitment-logo.svg"
                    alt="recruitment logo"
                />
                <p class="carousel__title">HR management</p>
                <p class="carousel__text">
                    We search and hire employees for our clients. We get a clear
                    job description from you and find the best specialists. We
                    also provide headhunting and executive search services for
                    companies.
                </p>
                <ul class="carousel__list">
                    <li class="carousel__list-item">Talent acquisition.</li>
                    <li class="carousel__list-item">Sourcing of candidates.</li>
                    <li class="carousel__list-item">Processing requests.</li>
                    <li class="carousel__list-item">Conducting interviews.</li>
                </ul>
            </article>
        </div>
    </div>
</section>
