
<header class="header">

<section id="weexplore" class="weexplore">
<p class="explore__title">We explore</p>
<h2 class="popula__subtitle">POPULAR ARTICLES</h2>
<p class="learn_text">Learn more about human resource management.</p>
<div class="img">
<img src="img/work.jpg" alt="THREE TYPES">
</div>
<h2>THREE TYPES OF INTERVIEWS</h2>
<p>Which What type of interview is best for your company and why?</p>
<button class="read ">Read more</button>
<div><img 
    src="img/speaking.jpg" alt="REVIEWS">
</div>
<h3>ONE-ON-ONE REVIEWS</h3>
<p>Why are monthly meetings with your employees for and how to increase their job satisfaction?</p>
<button class="read ">Read more</button>
<div>
    <img src="img/offer.jpg" alt="CREATE A JOB">
</div>
<h3>HOW TO CREATE A JOB OFFER</h3>
<p>A job offer is a document with working conditions that you send to a suitable candidate.</p>
<button class="read ">Read more</button>
</section>


</header>
<p>We explore</p>
<h1>Popular arcticles</h1>
<h1>learn more about human resource management.</h1>
</div>
<div>
    <img src="img/work.jpg" alt="INTERVIEWS">
    <p>THREE TYPES OF INTERVIEWS?</p>
    <h2>Which What type of interview is best for your company and why?</h2>
    </div>
    <div>
    <img src="img/speaking.jpg" alt="REVIEWS">
    <p>ONE-ON-ONE REVIEWS</p>
    <h3>Why are monthly meetings with your employees for and how to increase their job satisfaction?</h3>
</div>
