<section class="what-we-do">
    <img src="/img/what-we-do.jpg" alt="people-working-together">
    <h2 class="what-we-do__title">What we do</h2>
    <p class="what-we-do__subtitle">ABOUT THE COMPANY</p>
    <p class="what-we-do__text-bold">We perform any HR tasks for your business.</p>
    <p class="what-we-do__text">We are a team of professionals with vast experience in providing HR-related services for companies as outsourcing partners. 
        We have branches in the USA and other countries.</p>
    <p class="what-we-do__text">Our services include search for candidates, including executive search and headhunting. 
        Also, we provide consulting services, manage your teams, and make sure that your staff is satisfied with everything.</p>
    <p class="what-we-do__text">We use modern HR tools and software to manage all processes and provide our clients with timely reports.</p>
    <a href="/about.html" class="what-we-do__learn-more">Learn more</a>
    <a href="/contacts.html" class="what-we-do__contact-us">Contact us</a>
</section>