<div class="what-we-do__main-container">
  <div class="people-work__img-block">
    <img class="people-work__img" src="img/what-we-do.jpg" alt="people-working-together"/>
  </div>
  <section class="title-section__main-block">
    <h2 class="what-we-do__title">What we do</h2>
    <p class="what-we-do__subtitle">ABOUT THE COMPANY</p>
    <p class="what-we-do__text-bold">
      We perform any HR tasks for your business.
    </p>
    <div class="what-we-do__text-block"></div>
    <p class="what-we-do__first-text">
      We are a team of professionals with vast experience in providing
      HR-related services for companies as outsourcing partners. We have
      branches in the USA and other countries.
    </p>
    <p class="what-we-do__second-text">
      Our services include search for candidates, including executive search and
      headhunting. Also, we provide consulting services, manage your teams, and
      make sure that your staff is satisfied with everything.
    </p>
    <p class="what-we-do__third-text">
      We use modern HR tools and software to manage all processes and provide
      our clients with timely reports.
    </p>
    <section class="button__main block">
      <a href="/about.html" class="what-we-do__learn-more">Learn more</a>
      <a href="/contacts.html" class="what-we-do__contact-us">Contact us</a>
    </section>
  </section>
</div>
